.page-section{
  padding: 2.1rem 0 0 0;

  @mixin atMedium{
    padding-bottom: 2.1rem;
    padding-top: 0;
  }
  &--first {
    @mixin atMedium{
      padding-top: 2.1rem;
    }

  }

  &--no-b-until-medium{
    padding-bottom: 0;

    @mixin atMedium{
      padding-bottom: 3.5rem;
    }
  }

  &--objectives{
    background-color: #e0e6ef;

    @mixin atMedium {
      background: url('/assets/images/oilpump-red-medium.jpg') top center no-repeat;
      background-size: cover;
    }

  }

}
